@keyframes intro-animation {
  from {
    visibility: visible;
    opacity: 0;
    transform: rotateY(-100deg);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: rotateY(-45deg);
  }
}

.animate-intro-project {
  animation: intro-animation 2s forwards;
}

.text-stroke {
  -webkit-text-stroke: 2px #f2f2f2;
  text-stroke: 2px #f2f2f2;
}

.intro-initial-state {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .text-stroke {
    -webkit-text-stroke: 1px #f2f2f2;
    text-stroke: 1px #f2f2f2;
  }
}


